@model IEnumerable<ORTastic.Models.CompraDetalle>

@{
    ViewData["Title"] = "Mis Compras";
}

<h1>Mis Compras</h1>

<p>
    <a asp-action="Comprar">Realizar Compra</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre del Evento</th>
            <th>Cantidad de Entradas</th>
            <th>Precio Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in Model)
        {
            <tr>
               
                <td>@compra.NombreEvento</td>
                <td>@compra.CantidadEntradas</td>
                <td>@compra.PrecioTotal</td>
                <td><a asp-action="Details" asp-route-id="@compra.IdCompra">Detalle</a></td>
            </tr>
        }
    </tbody>
</table>
